body {
	background-color: #99ccff;
	font-family: "Lucida Console", Monaco, monospace;
}

#conteudo{
	background-color:  #b3d9ff;
	margin-left: 5%;
	margin-right: 5%;
	padding: 2%;
	border-radius: 10px;
}

#cabecalho{
    font-size: 30px;
    color: #404040;
    text-align: center;
	padding-left: 50px;
    margin-bottom: 30px; 
    
}

#navbar{
    color: white;
    font-size: 25;
    display: flex;
	justify-content: space-between;
    margin-bottom: 20px;  
	border-radius: 10px;
	padding: 10px;
    display: flex;
    text-align: justify;
    justify-content: space-evenly;
    background-color: #99ccff;
}

a{
	
	text-decoration: none;
	text-decoration: unset;
}


.noticia{
	border: #b3b3ff 4px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
}

.linha{
	border: #9999ff 2px dashed;
	border-radius: 10px;
	margin-top: 5px;
}

p{
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;

}

.img{
    width: 40%;
	border-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.imgPessoal{
	width: 20%;
	border-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.video{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}


h3{
	text-align: center;
	font-size: 30px;
}

.sobre{
	text-align: center;
	
}

#rodape{
	display: flex;
	background-color: #99ccff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 8px;
}

input{
	width: 35%;
	height: 30px;
	display: flex;

}
textarea{
	width: 35%;
	height: 80px;
	display: flex
	
}

.contact-input{
	border-radius: 5px;
	margin: auto;

}
button{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	border: #66b3ff 1px solid;
	border-radius: 5px;
	width: 6.5%;
	font-size: 20px;

	}

.button-sobre{
	border: #66b3ff 2px dotted;
	border-radius: 5px;
	color: gray;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 9%;
	display: flex;
	margin-top: 5px;
	}


.button{
	background-color: #99ccff;
	border: #66b3ff 2px solid;
	border-radius: 5px;
	color: gray;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 10%;
	display: flex;
}

.tag{
	font-size: 22px;
	text-align: center;
	font-style: italic;
}